

 .about-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #c61616; */
    text-align: center;
    gap: 10%;
    background-color: rgb(151, 240, 235);
 }
 #box-left {
    width:auto;
    height:50%;
    border-radius: 10%;
   
 }
 
 #box-right h3 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
 }
 /* #box-right {
    width:50%;
    height:70%;
    margin-top: 10%;
    /* background-color: blue;
 } */
 

#box-right {
  width: 50%;
  margin-top: 10%;
  padding: 40px;
  background: url("https://www.transparenttextures.com/patterns/brush-strokes.png");
  /* background-color: #fef3c7; */
  border-radius: 18px;
}
   #box-right p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: #555;
      margin-bottom: 15px;
   }