.navbar {
  position: fixed;   /* page ke top pe fix rahe */
  top: 0;
  left: 0;
  /* right: 80px; */
  width: 100%;
  height: 60px;      /* adjust as needed */
  /* background: rgba(0, 0, 0, 0.6); thoda transparent background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: rgb(20, 19, 19);
  z-index: 9999;   /* sabse upar show hoga */
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(11, 11, 11);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #60605f; /* hover color */
}

/* Mobile responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0,0,0,0.9);
    flex-direction: column;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px;
  }
}
