.navbar {

  position: fixed;   /* page ke top pe fix rahe */
  top: 0;
  left: 0;
  /* right: 80px; */
  width: 100%;
  height: 60px;      /* adjust as needed */
  background: blur(10px); /* transparent background */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: rgb(20, 19, 19);
  z-index: 9999;   /* sabse upar show hoga */
  scroll-margin-top: 90px; /* navbar height */
  

}
/* BLUR LAYER */
.navbar::before {
  content: "";
  position: absolute;
  inset: 0;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  pointer-events: none;
  z-index: -1;
}

/* navbar content stays sharp */
.navbar *{
  position: relative;
  z-index: 2;
}


.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(11, 11, 11);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #60605f; /* hover color */
}

/* Mobile responsive */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(243, 240, 240, 0.9);
    flex-direction: column;
    width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-links.open {
    max-height: 300px;
  }
}


/* 🔴 Logout Button */
.logout-btn {
  border: none;
  background: transparent;
  color: #ef4444;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.95rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.logout-btn:hover {
  color: #dc2626;
  transform: scale(1.05);
}